figure{
  height: 20em;
  width: 17em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 16px;
  background-color: var(--second-color);
}

figure a {
  height: 80%;
  width: 100%;
}

figure a img {
  height:  100%;
  width: 100%;
  border-radius: 16px 16px 0 0;
}

figcaption{
  color: var(--third-color);
  margin: 1em;
  font-family: var(--second-font);
  font-size: 1.2em;
}